//$marginTop:

.body-wrapper {
  padding: 0 !important;
  box-sizing: border-box !important;
  min-height: calc(100vh - 100px);
  margin-top: 100px;

  @media screen and (max-width: 600px) {
    min-height: calc(100vh - 50px);
    margin-top: 50px;
  }
}

// side-bar - navigation
.side_bar {
  width: 18% !important;
  background-color: #ffffff !important;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04) !important;
  border-radius: 0 !important;

  @media screen and (max-width: 600px) {
    width: 10% !important;
  }
}

// the right sidebar - which holds the content
.side_bar_content {
  //height: 150vh;
  width: 82% !important;
  background-color: #e5e5e5 !important;
  @media screen and (max-width: 600px) {
    width: 90% !important;
  }
}

@mixin font-sizes {
  @media screen and (max-width: 600px) {
    font-size: 8px;
  }

  @media screen and (min-width: 882px) and (max-width: 1024px) {
    font-size: 12px;
  }

  @media screen and (min-width: 601px) and (max-width: 881px) {
    font-size: 10px !important;
  }
}

@mixin image-size {
  @media screen and (min-width: 601px) and (max-width: 881px) {
    height: 10px !important;
    width: 10px !important;
  }

  @media screen and (min-width: 882px) and (max-width: 1024px) {
    height: 10px !important;
    width: 10px !important;
  }

  @media screen and (min-width: 1025px) and (max-width: 1400px) {
    height: 12px !important;
    width: 12px !important;
  }
}

@mixin hide-text {
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}

// the switch-organization item on the sidebar
.brief-case {
  &-title {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #213f7d !important;
    @include font-sizes;
    @include hide-text;
  }

  &-img {
    height: 16px;
    width: 16px;
    @include image-size;
  }

  &-icon {
    height: 11px !important;
    width: 6.57px !important;
  }
}

// the dashboard on the sidebar
.dashboard-content {
  &-img {
    height: 14.22px;
    width: 16px;

    @include image-size;
  }

  &-title {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.4;
    color: #213f7d !important;

    @include font-sizes;
    @include hide-text;
  }
}

// list section header
.list-section-name {
  color: #545f7d !important;
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;

  @media screen and (max-width: 600px) {
    font-size: 4px;
  }

  @media screen and (min-width: 882px) and (max-width: 1024px) {
    font-size: 7px;
  }

  @media screen and (min-width: 601px) and (max-width: 881px) {
    font-size: 9px !important;
  }
  @include hide-text();
}

ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin: 0 !important;
}

li .nav-link {
  text-decoration: none !important;
}

li .nav-link-active {
  border-left: 3px solid #39cdcc !important;
  background-color: rgba(57, 205, 204, 0.06) !important;
}

li .nav-link-inactive {
}

// the beginning of the route page on the side-bar-content

.page-name {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 24px;
  color: #213f7d;
  text-transform: capitalize;

  @media screen and (max-width: 600px) {
    font-size: 13px;
  }

  @media screen and (min-width: 882px) and (max-width: 1024px) {
    font-size: 18px;
  }

  @media screen and (min-width: 601px) and (max-width: 881px) {
    font-size: 20px;
  }
}

// card wrapper for the table
.card-table {
  background: #ffffff !important;
  border: 1px solid rgba(33, 63, 125, 0.06) !important;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04) !important;
  border-radius: 4px !important;
  height: auto;
  width: 100%;
}

.main-table-wrapper {
  min-height: 640px;
  max-height: 800px;
  overflow-y: scroll;
}

@mixin table-font-size {
  @media screen and (max-width: 600px) {
    font-size: 10px;
  }
}

.table-icon {
  width: 16px;
}

.table-col {
  width: 116px;
}

.table-head-organization {
  width: 116px;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  cursor: pointer;
  &-name {
    width: 90px;
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #545f7d;
    @include table-font-size();
  }
}

.table-col-2 {
  width: 94px !important;
}

.table-head-username {
  width: 94px;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  &-name {
    width: 68px;
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #545f7d;
    @include table-font-size();
  }
}

.table-col-3 {
  width: 64px;
}

.table-head-email {
  width: 64px;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  &-name {
    width: 38px;
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #545f7d;
    @include table-font-size();
  }
}

.table-col-4 {
  width: 124px;
}

.table-head-phone {
  width: 130px;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  &-name {
    width: 130px;
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #545f7d;
    padding: 0 !important;
    @include table-font-size();
  }
}

.table-col-5 {
  width: 105px;
}

.table-head-date {
  width: 105px;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  &-name {
    width: 95px;
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #545f7d;
    @include table-font-size();
  }
}

.table-col-6 {
  width: 71px;
}

.table-head-status {
  width: 71px;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  &-name {
    width: 45px;
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #545f7d;
    @include table-font-size();
  }
}

td {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #545f7d;
  @include table-font-size();
}

.status-wrapper {
  border-radius: 100px !important;
  width: 100px;
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  @include table-font-size();
}

// table list and pagination

.data-list-text {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #545f7d;
  @include font-sizes();
}

.dropdown-wrapper {
  background-color: rgba(33, 63, 125, 0.1) !important;
  border-radius: 4px !important;
  width: 60px;
  height: 30px;
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #213f7d !important;
  @include font-sizes();
  @media screen and (max-width: 600px) {
    width: 40px;
    height: 20px;
  }
}

.table-list-item {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #213f7d;
  @include font-sizes();
}

.table-list-item:hover {
  background-color: rgba(33, 63, 125, 0.1) !important;
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #213f7d;
  @include font-sizes();
}

// pagination

.next-pagination-icon,
.previous-pagination-icon {
  width: 8px;
  height: 6px;
}

.previous-label-pagination,
.next-label-pagination {
  background: rgba(33, 63, 125, 0.1) !important;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  box-sizing: border-box !important;
  @media screen and (max-width: 600px) {
    width: 12px;
    height: 12px;
  }
}

@mixin paginate {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.active-pagination-page {
  @include paginate();
  color: #545f7d !important;
  @include font-sizes();
}

.next-link-paginate,
.previous-link-paginate,
.pagination-text {
  @include paginate();
  @include font-sizes();
  color: #545f7d !important;
}

// dropdown to change the status

.dropdown-status {
  background: #ffffff !important;
  border: 1px solid rgba(84, 95, 125, 0.04) !important;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04) !important;
  border-radius: 4px;
  cursor: pointer;

  &-text {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px;
    color: #545f7d !important;
    @include font-sizes();
    text-transform: capitalize;
  }
}

// user-details
.arrow-back {
  width: 27px !important;
  color: rgba(84, 95, 125, 1);

  &-text {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #545f7d;
    @include font-sizes();
  }
}

@mixin user-detail-action-btn {
  width: 170px;
  height: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include font-sizes();

  @media screen and (max-width: 600px) {
    width: auto;
    height: auto;
    letter-spacing: 0.02em;
  }
}

.btn-activate {
  border: 1px solid #39cdcc !important;
  color: #39cdcc !important;
  @include user-detail-action-btn();
}

.btn-blacklist {
  border: 1px solid #e4033b !important;
  color: #e4033b !important;
  @include user-detail-action-btn();
}

.card-user-header {
  background: #ffffff !important;
  border: 1px solid rgba(33, 63, 125, 0.06) !important;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04) !important;
  border-radius: 4px;
  box-sizing: border-box !important;
  --bs-card-spacer-y: 0 !important;
}

@mixin user-details-pill-text {
  font-family: "SF Compact Text" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-decoration: none !important;
  @media screen and (max-width: 600px) {
    font-size: 6px;
  }

  @media screen and (min-width: 882px) and (max-width: 1024px) {
    font-size: 11px;
  }

  @media screen and (min-width: 601px) and (max-width: 881px) {
    font-size: 10px !important;
  }
}

.user-details-pill {
  @include user-details-pill-text();
  color: rgba(0, 0, 0, 0.8) !important;
}

.user-details-pill-active {
  @include user-details-pill-text();
  color: rgba(57, 205, 204, 1) !important;
  //border-bottom: 2px solid #39CDCC !important;
  //text-decoration: underline solid #39cdcc 2px !important;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 170px !important;
}

.user-profile {
  &-bg {
    background: rgba(33, 63, 125, 0.16);
    border-radius: 4px;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    @media screen and (max-width: 600px) {
      width: 50px;
      height: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    &-img {
      height: 15px;
      width: 15px;
    }
  }

  &-name {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #213f7d;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }

  &-num {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #545f7d;
    @include font-sizes();
  }
}

.user-tier {
  border-left: 1px solid rgba(84, 95, 125, 0.2) !important;
  border-right: 1px solid rgba(84, 95, 125, 0.2) !important;

  &-title {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #545f7d !important;
    @include font-sizes();
  }
}

.user-bal {
  &-amount,
  &-amount span {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #213f7d !important;

    @include font-sizes();
  }
  &-bank {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #213f7d;
    @media screen and (max-width: 600px) {
      font-size: 8px;
    }
  }
}

// user-details  ----- inner page
.outlet-card {
  background: #ffffff !important;
  border: 1px solid rgba(33, 63, 125, 0.06) !important;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04) !important;
  border-radius: 4px;
  min-height: 600px;
  height: auto;
}

.card-main-page-header {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #213f7d !important;
  @include font-sizes();
}

.component-label {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #545f7d;
  @media screen and (max-width: 600px) {
    font-size: 8px;
  }

  @media screen and (min-width: 882px) and (max-width: 1024px) {
    font-size: 11px;
  }

  @media screen and (min-width: 601px) and (max-width: 881px) {
    font-size: 10px !important;
  }
}

.component-result {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #545f7d !important;
  @include font-sizes();
}

.component-email {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #545f7d !important;
  @include font-sizes();
}