$font-family: "Avenir";

input {
  outline: none !important;
  height: 100%;
  width: 100%;
  background: #ffffff !important;
  border: none;
  color: rgba(84, 95, 125, 1) !important;
  font-family: $font-family !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px;
}

input::placeholder {
  font-family: $font-family !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px;
  color: rgba(84, 95, 125, 0.6) !important;
}

.input__wrapper,
.input__wrapper_password2 {
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
}

.input__wrapper_password2 {
  position: relative;
}

.text-btn-wrapper {
  border-left: none !important;
  //height: 100%;
  background: none !important;
  position: absolute;
  left: 88%;
  height: fit-content;
}

@media screen and (max-width: 600px) {
  .text-btn-wrapper {
    left: 84%;
  }

  input,
  input::placeholder {
    font-size: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .text-btn-wrapper {
    left: 86%;
  }
}

.text-btn {
  background-color: transparent !important;
  border: none;
  color: rgba(57, 205, 204, 1);
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .text-btn {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .text-btn {
    font-size: 8px;
  }
}

/**********************************************************************************************************************************************************************
  dashboard Header
*********************************************************************************************************************************/

.dashboard-header-wrapper {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff !important;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04) !important;
  height: 100px;
  width: 100%;

  @media screen and (max-width: 600px) {
    height: 50px;
  }

  &-logo {
    &-badge {
      @media screen and (max-width: 600px) {
        height: 10px !important;
      }
    }

    &-text {
      @media screen and (max-width: 600px) {
        height: 15px !important;
      }
    }
  }

  &-search-wrapper {
    width: 25%;
    height: 40px !important;

    @media screen and (min-width: 601px) and (max-width: 750px) {
      width: 40%;
    }

    @media screen and (min-width: 751px) and (max-width: 1024px) {
      width: 40%;
    }

    @media screen and (max-width: 600px) {
      display: none !important;
    }

    &-input-wrapper {
      background: #ffffff !important;
      border: none !important;
      width: 100%;
      height: 100%;
    }

    &-input-wrapper input {
      outline-style: none !important;
      height: 100% !important;
      width: calc(100% - 10%) !important;
      //border: none !important;
      border: 1px solid rgba(33, 63, 125, 0.2);
      border-top-left-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
      font-family: "Work Sans" !important;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;

      @media screen and (max-width: 600px) {
        font-size: 10px;
      }
    }

    &-input-wrapper input::placeholder {
      font-family: "Work Sans" !important;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      @media screen and (max-width: 600px) {
        font-size: 10px;
      }
    }

    &-input-wrapper i {
      height: 100% !important;
      width: 10% !important;
      border: none !important;
      background-color: #39cdcc !important;
      border-top-right-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
    }
  }
}

.dashboard-header-wrapper-profile {
  width: 16%;

  @media screen and (max-width: 600px) {
    width: 60%;
    font-size: 10px !important;
    .profile-img {
      height: 40px !important;
      width: 40px !important;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1400px) {
    width: 32% !important;
  }

  @media screen and (min-width: 601px) and (max-width: 1024px) {
    width: 30% !important;
  }

  .link,
  .link:hover {
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    //text-decoration-line: underline !important;
    text-decoration: underline solid #213f7d 1px !important;
    color: #213f7d !important;

    @media screen and (max-width: 600px) {
      font-size: 10px !important;
    }
  }

  .profile-img {
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
    @media screen and (max-width: 600px) {
      height: 30px !important;
      width: 30px !important;
    }
  }

  .profile-name {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #213f7d !important;

    @media screen and (max-width: 600px) {
      font-size: 10px !important;
    }
  }

  .bell_i {
    height: 22.74px !important;
    width: 19.67px !important;

    @media screen and (max-width: 600px) {
      height: 15px !important;
      width: 12px !important;
    }
  }

  .caret_i {
    height: 7px !important;
    width: 7px !important;
  }

  @media screen and (max-width: 600px) {
  }
}

/**********************************************************************************************************************************************************************
  sidebar-menu 
*********************************************************************************************************************************/

@mixin font-sizes {
  @media screen and (max-width: 600px) {
    font-size: 8px;
  }

  @media screen and (min-width: 882px) and (max-width: 1024px) {
    font-size: 12px;
  }

  @media screen and (min-width: 601px) and (max-width: 881px) {
    font-size: 10px !important;
  }
}

@mixin image-size {
  @media screen and (min-width: 601px) and (max-width: 881px) {
    height: 10px !important;
    width: 10px !important;
  }

  @media screen and (min-width: 882px) and (max-width: 1024px) {
    height: 10px !important;
    width: 10px !important;
  }

  @media screen and (min-width: 1025px) and (max-width: 1400px) {
    height: 12px !important;
    width: 12px !important;
  }
}

@mixin hide-text {
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}

.side-bar-menu-title-active {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #213f7d;
  text-transform: capitalize;
  @include font-sizes();
  @include hide-text();
}

.side-bar-menu-title-inactive {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #213f7d;
  opacity: 0.4;
  text-transform: capitalize;
  @include font-sizes();
  @include hide-text();
}

.side-bar-menu-img {
  height: 16px;
  width: 16px;
  @include image-size();
}

/**********************************************************************************************************************************************************************
  filter - for table
*********************************************************************************************************************************/

.dropdown-filter {
  background: #ffffff !important;
  border: 1px solid rgba(84, 95, 125, 0.14) !important;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04) !important;
  border-radius: 4px;
  width: 270px !important;
  //box-sizing: border-box;
  @media screen and (max-width:600px) {
    width:150px !important;
  }
}

.filter-label {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #545f7d !important;
  text-transform: capitalize;
   @include font-sizes();
}

.filter-input {
  outline: none !important;
  background: #ffffff !important;
  border: 1px solid rgba(33, 63, 125, 0.2) !important;
  border-radius: 8px;
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(84, 95, 125, 0.7) !important;
  @include font-sizes();

  &::placeholder {
    font-family: "Work Sans" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(84, 95, 125, 0.7) !important;
     @include font-sizes();
  }
}

.filter-select {
  width: 100%;
  outline: none !important;
  background: #ffffff !important;
  border: 1px solid rgba(33, 63, 125, 0.2) !important;
  border-radius: 8px;
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
   @include font-sizes();
}

@mixin filter-btn-text {
  font-family: "Work Sans" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  width:98px;
  height:40px;
  @media screen and (max-width:600px) {
    width: auto;
    height:auto;
  }
  
}

.filter-reset-btn {
  border: 1px solid #545f7d !important;
  border-radius: 8px !important;
  @include filter-btn-text();
  color:#545F7D !important;
   @include font-sizes();
}

.filter-filter-btn {
  background: #39cdcc !important;
  border: 1px solid #39cdcc !important;
  border-radius: 8px;
  color:#FFF !important;
  @include filter-btn-text();
   @include font-sizes();
}
